
.modification-success-message  {
    background-color: #4caf50; /* Couleur de fond verte */
    color: #fff; /* Couleur du texte blanc */
    padding: 10px; /* Marge interne */
    border-radius: 5px; /* Coins arrondis */
    text-align: center; /* Centre le texte horizontalement */
    margin-top: 10px; /* Marge en haut */
    font-weight: bold; /* Police en gras */
    font-size: 16px; /* Taille de la police */
  }
  // .modification-success-message {
  //   background-color: #4caf50; /* Couleur de fond verte */
  //   color: #fff; /* Couleur du texte blanc */
  //   padding: 10px; /* Espacement interne */
  //   border-radius: 5px; /* Coins arrondis */
  //   margin-top: 10px; /* Marge en haut */
  //   text-align: center; /* Centre le texte horizontalement */
  //   font-weight: bold; /* Police en gras */
  // }