ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  

  ion-button {
    margin-top: auto;
    border-radius: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 90px;
  }
}

.subject-card {
  border: 1px solid #ddd; 
  border-radius: 8px;
  margin-bottom: 10px; 
  padding: 10px; 
}

.delete-icon {
  color: #ff4d4d; 
  font-size: 20px; 
  cursor: pointer;
}

