.home-page {
  background-image: url('/assets/images/back.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 

  ion-content {
    background: none;
  }
}

ion-card {
  margin-bottom: 20px;
}

.home-button {
  margin-top: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
  font-size: 16px;
}
.home-page {
  --ion-background-color: linear-gradient(to bottom, var  #ffffff,(--ion-color-tertiary))
}
ion-button {
  border-radius: 100px;
  color: #a2b3d4;
}

ion-content {
  color: #333;
}

.animated-card {
  transition: transform 0.3s ease-in-out;

}

.animated-card:hover {
  transform: translateY(-5px);
}

ion-card-content {
  padding: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color:rgb(39, 25, 53);
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}
